<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./assets/img/fav-logo.png"
      type="image/x-icon"
    />
    <title>Booking Confirmed - Appoinx HTML App</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="manifest" href="manifest.json" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <main class="pb-6">
      <section class="pt-8 notification-top-area px-6 bg-g50">
        <div class="d-flex justify-content-start align-items-center gap-4 py-3">
          <a
            href="./doctor-profile.html"
            class="p1-color back-button flex-center"
          >
            <i class="ph ph-caret-left"></i>
          </a>
        </div>
      </section>

      <section class="confirm-logo-area pt-8 px-6 bg-g50">
        <div
          class="d-flex flex-column justify-content-between align-items-center text-center"
        >
          <div class="check-icon">
            <i class="ph ph-check"></i>
          </div>
          <h2 class="heading-2 pt-8">Booking Confirmed</h2>
          <p class="p-sm pt-3">
            Dr. Jenny Wilson is a highly skilled cardiologist dedicated to
            providing exceptional cardiac care. With
          </p>
        </div>

        <div class="confirm-doctor-area">
          <div class="confirm-doctor px-5 py-8">
            <div class="d-flex justify-content-between align-items-center">
              <p class="paragraph-small">ID : 656352165</p>
              <button class="edit-icon flex-center">
                <i class="ph ph-pencil"></i>
              </button>
            </div>

            <div
              class="d-flex justify-content-start align-items-center gap-4 pt-3"
            >
              <div class="doctor-img">
                <img src="./assets/img/top-doctor-1.png" alt="" />
              </div>
              <div class="">
                <h3>Dr. Jenny Wilson</h3>
                <p class="paragraph-small pt-1">Online</p>
              </div>
            </div>

            <div class="custom-border-area position-relative my-8 w-100">
              <div class="line-horizontal"></div>
            </div>

            <ul class="d-flex flex-column gap-5">
              <li
                class="d-flex justify-content-between align-items-center details-item"
              >
                <p class="">Name:</p>
                <p class="fw-bold">Dr. Jenny Wilson</p>
              </li>
              <li
                class="d-flex justify-content-between align-items-center details-item"
              >
                <p class="">Time:</p>
                <p class="fw-bold">11.30 AM</p>
              </li>
              <li
                class="d-flex justify-content-between align-items-center details-item"
              >
                <p class="">Date:</p>
                <p class="fw-bold">20/02/2024</p>
              </li>
              <li
                class="d-flex justify-content-between align-items-center details-item"
              >
                <p class="">Total:</p>
                <p class="fw-bold p1-color">$85.00</p>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <div class="booking-page-bottom px-6">
        <div class="d-flex flex-column gap-8 mt-8">
          <a href="./home.html" class="link-button d-block text-center">Done</a>
        </div>
      </div>
    </main>

    <!-- Js Dependencies -->
    <script src="./assets/js/plugins/bootstrap.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/service-worker-settings.js"></script>
  </body>
</html>
