<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./assets/img/fav-logo.png"
      type="image/x-icon"
    />
    <title>Camera Open</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="manifest" href="manifest.json" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <div
      class="camera-open-section d-flex justify-content-start align-items-center mx-auto h-100"
    >
      <img src="./assets/img/camera-img.png" alt="" />

      <div class="bottom-options">
        <button class="option flex-center">
          <i class="ph ph-lightning"></i>
        </button>
        <button class="camera flex-center"><i class="ph ph-camera"></i></button>
        <button class="option flex-center">
          <i class="ph ph-camera-rotate"></i>
        </button>
      </div>
    </div>

    <!-- Js Dependencies -->
    <script src="./assets/js/plugins/bootstrap.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/service-worker-settings.js"></script>
  </body>
</html>
