<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./assets/img/fav-logo.png"
      type="image/x-icon"
    />
    <title>FAQ - Appoinx HTML App</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="manifest" href="manifest.json" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <main class="h-100">
      <section class="px-6 pt-8 notification-top-area">
        <div class="d-flex justify-content-start align-items-center gap-4 py-3">
          <a href="./help-support.html" class="back-button flex-center">
            <i class="ph ph-caret-left"></i>
          </a>
          <h2>FAQ</h2>
        </div>
      </section>

      <!-- Search Section Start -->
      <section class="search-section w-100 px-6 pt-8">
        <div class="">
          <div
            class="search-area d-flex justify-content-between align-items-center gap-2 w-100"
          >
            <div
              class="search-box d-flex justify-content-start align-items-center gap-2 p-3 w-100"
            >
              <div class="flex-center">
                <i class="ph ph-magnifying-glass"></i>
              </div>
              <input type="text" placeholder="Find here..." value="Dr. Diane" />
            </div>

            <div class="search-button">
              <button class="flex-center">
                <i class="ph ph-sliders-horizontal"></i>
              </button>
            </div>
          </div>
        </div>
      </section>
      <!-- Search Section End -->

      <div class="px-6 search-category-area">
        <div class="overflow-hidden">
          <ul
            class="d-flex justify-content-start align-items-center gap-3 pt-5 overflow-auto"
          >
            <li class="category-item">
              <a href="./home.html" class="p1-color">All</a>
            </li>
            <li class="category-item">
              <a href="./top-doctor-search-loading.html" class="p1-color"
                >General</a
              >
            </li>
            <li class="category-item active">Dentist</li>
            <li class="category-item">Nutritionist</li>
            <li class="category-item">Label</li>
            <li class="category-item">Urologist</li>
            <li class="category-item">Physicial</li>
            <li class="category-item">Gynecologist</li>
          </ul>
        </div>
      </div>

      <section class="px-6 pt-8">
        <div class="">
          <div class="d-flex flex-column gap-6">
            <div class="faq-accordion-area">
              <div
                class="faq-accordion theme-transition-3 d-flex justify-content-between align-items-center"
              >
                <h6 class="text-14px">What is Appoinx ?</h6>
                <div class="">
                  <i class="ph-fill text-[24px] ph-caret-down ti-plus"> </i>
                </div>
              </div>
              <div class="theme-transition-6 h-0 overflow-hidden" style="">
                <div class="custom-border-area position-relative w-100 my-3">
                  <div class="line-horizontal"></div>
                </div>
                <p class="text-12px">
                  Appoinx is greatest medical online consultation app platform
                  in this century
                </p>
              </div>
            </div>
            <div class="faq-accordion-area">
              <div
                class="faq-accordion theme-transition-3 d-flex justify-content-between align-items-center"
              >
                <h6 class="text-14px">How to use Appoinx ?</h6>
                <div class="">
                  <i class="ph-fill text-[24px] ph-caret-down ti-plus"> </i>
                </div>
              </div>
              <div class="theme-transition-6 h-0 overflow-hidden" style="">
                <div class="custom-border-area position-relative w-100 my-3">
                  <div class="line-horizontal"></div>
                </div>
                <p class="text-12px">
                  Appoinx is greatest medical online consultation app platform
                  in this century
                </p>
              </div>
            </div>
            <div class="faq-accordion-area">
              <div
                class="faq-accordion theme-transition-3 d-flex justify-content-between align-items-center"
              >
                <h6 class="text-14px">
                  How to schedule consultation on Appoinx?
                </h6>
                <div class="">
                  <i class="ph-fill text-[24px] ph-caret-down ti-plus"> </i>
                </div>
              </div>
              <div class="theme-transition-6 h-0 overflow-hidden" style="">
                <div class="custom-border-area position-relative w-100 my-3">
                  <div class="line-horizontal"></div>
                </div>
                <p class="text-12px">
                  Appoinx is greatest medical online consultation app platform
                  in this century
                </p>
              </div>
            </div>
            <div class="faq-accordion-area">
              <div
                class="faq-accordion theme-transition-3 d-flex justify-content-between align-items-center"
              >
                <h6 class="text-14px">
                  How Do I Start the Homebuying Process?
                </h6>
                <div class="">
                  <i class="ph-fill text-[24px] ph-caret-down ti-plus"> </i>
                </div>
              </div>
              <div class="theme-transition-6 h-0 overflow-hidden" style="">
                <div class="custom-border-area position-relative w-100 my-3">
                  <div class="line-horizontal"></div>
                </div>
                <p class="text-12px">
                  Appoinx is greatest medical online consultation app platform
                  in this century
                </p>
              </div>
            </div>
            <div class="faq-accordion-area">
              <div
                class="faq-accordion theme-transition-3 d-flex justify-content-between align-items-center"
              >
                <h6 class="text-14px">How to logout from Appoinx ?</h6>
                <div class="">
                  <i class="ph-fill text-[24px] ph-caret-down ti-plus"> </i>
                </div>
              </div>
              <div class="theme-transition-6 h-0 overflow-hidden" style="">
                <div class="custom-border-area position-relative w-100 my-3">
                  <div class="line-horizontal"></div>
                </div>
                <p class="text-12px">
                  Appoinx is greatest medical online consultation app platform
                  in this century
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Js Dependencies -->
    <script src="./assets/js/plugins/bootstrap.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/service-worker-settings.js"></script>
  </body>
</html>
