<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./assets/img/fav-logo.png"
      type="image/x-icon"
    />
    <title>Help & Support - Appoinx HTML App</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="manifest" href="manifest.json" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <main class="">
      <section class="px-6 pt-8 notification-top-area">
        <div class="d-flex justify-content-start align-items-center gap-4 py-3">
          <a
            href="./doctor-profile.html"
            class="p1-color back-button flex-center"
          >
            <i class="ph ph-caret-left"></i>
          </a>
          <h2>Help and Support</h2>
        </div>
      </section>

      <section class="manage-notification-area px-6 pt-8">
        <div class="manage-notification">
          <ul class="d-flex flex-column gap-4">
            <li>
              <a
                href="./faq-page.html"
                class="d-flex justify-content-between align-items-center text-black"
              >
                <p class="fw-500">FAQ</p>
                <div class="right-icon">
                  <i class="ph-light ph-caret-circle-right fs-1 p1-color"></i>
                </div>
              </a>
            </li>
            <li>
              <div class="custom-border-area position-relative w-100">
                <div class="line-horizontal"></div>
              </div>
            </li>
            <li>
              <a
                href="./customer-service-chat.html"
                class="d-flex justify-content-between align-items-center text-black"
              >
                <p class="fw-500">Contact Us</p>
                <div class="right-icon">
                  <i class="ph-light ph-caret-circle-right fs-1 p1-color"></i>
                </div>
              </a>
            </li>
            <li>
              <div class="custom-border-area position-relative w-100">
                <div class="line-horizontal"></div>
              </div>
            </li>
            <li>
              <a
                href="./legal-policies.html"
                class="d-flex justify-content-between align-items-center text-black"
              >
                <p class="fw-500">Terms & Conditions</p>
                <div class="right-icon">
                  <i class="ph-light ph-caret-circle-right fs-1 p1-color"></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>
    </main>

    <!-- Js Dependencies -->
    <script src="./assets/js/plugins/bootstrap.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/service-worker-settings.js"></script>
  </body>
</html>
