<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appoinx</title>
    <link
      rel="shortcut icon"
      href="assets/img/favicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="./assets/css/plugins/swiper.min.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <main class="onboarding-screen">
      <section class="bg-slider-area1">
        <div class="swiper slider-height onbording-carousel-slider1 smooth">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./assets/img/onbording-screen-slider-img4.png" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./assets/img/onbording-screen-slider-img2.png" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./assets/img/onbording-screen-slider-img3.png" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./assets/img/onbording-screen-slider-img3.png" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./assets/img/onbording-screen-slider-img5.png" alt="" />
            </div>
          </div>
        </div>
      </section>
      <section class="bg-slider-area2">
        <div class="swiper slider-height onbording-carousel-slider2 smooth">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./assets/img/onbording-screen-slider-img4.png" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./assets/img/onbording-screen-slider-img2.png" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./assets/img/onbording-screen-slider-img3.png" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./assets/img/onbording-screen-slider-img3.png" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./assets/img/onbording-screen-slider-img5.png" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- bottom steps slider -->
      <section class="bottom-steps-slider-area">
        <div class="bottom-steps">
          <div class="top-absolute-item"></div>
          <div class="swiper bottom-steps-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <h1>Expert Doctor <span>Advice Online</span></h1>
                <p class="m-body">
                  Access professional medical guidance conveniently from the
                  comfort of your home.
                </p>
              </div>
              <div class="swiper-slide">
                <h1>Doctor Support, Always <span>Ready</span></h1>
                <p class="m-body">
                  Access professional medical guidance conveniently from the
                  comfort of your home.
                </p>
              </div>
              <div class="swiper-slide">
                <h1 class="">Stay Healthy <span>Stay Connected</span></h1>
                <p class="m-body">
                  Stay connected to health resources for a healthier, more
                  informed lifestyle.
                </p>
              </div>
            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-nav-button">
              <a href="./sign-in.html" class="skip-button">Skip</a>

              <a class="ara-next" id="goToHomePage">
                <i class="ph ph-caret-right"></i>
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Preloader Start -->
    <div class="preloader active">
      <div class="flex-center h-100 bgMainColor">
        <div class="main-container flex-center h-100 flex-column">
          <div class="wave-animation">
            <img src="./assets/img/fav.png" alt="" />
            <div class="waves wave-1"></div>
            <div class="waves wave-2"></div>
            <div class="waves wave-3"></div>
          </div>

          <div class="pt-8">
            <img src="./assets/img/logo.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader End -->

    <!-- Js Dependencies -->
    <script src="./assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="./assets/js/plugins/bootstrap.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/service-worker-settings.js"></script>
  </body>
</html>
