<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./assets/img/fav-logo.png"
      type="image/x-icon"
    />
    <title>Invite Friends - Appoinx HTML App</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="manifest" href="manifest.json" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <main class="">
      <section
        class="px-6 pt-8 notification-top-area d-flex justify-content-between align-items-center"
      >
        <div class="d-flex justify-content-start align-items-center gap-4 py-3">
          <a href="./home.html" class="back-button flex-center">
            <i class="ph ph-caret-left"></i>
          </a>
          <h2>Invite Friends</h2>
        </div>
      </section>

      <section class="invite-friends-area px-6 py-8">
        <div class="d-flex flex-column gap-4">
          <div class="d-flex justify-content-between align-items-center item">
            <div class="d-flex justify-content-start align-items-center gap-4">
              <div class="">
                <img src="./assets/img/friend-4.png" alt="" />
              </div>
              <div class="">
                <p class="fw-semibold">Robert Fox</p>
                <p class="p-sm">+654151651</p>
              </div>
            </div>

            <div class="">
              <button class="button">Invite</button>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center item">
            <div class="d-flex justify-content-start align-items-center gap-4">
              <div class="">
                <img src="./assets/img/friend-1.png" alt="" />
              </div>
              <div class="">
                <p class="fw-semibold">Robert Fox</p>
                <p class="p-sm">+654151651</p>
              </div>
            </div>

            <div class="">
              <button class="button">Invite</button>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center item">
            <div class="d-flex justify-content-start align-items-center gap-4">
              <div class="">
                <img src="./assets/img/friend-2.png" alt="" />
              </div>
              <div class="">
                <p class="fw-semibold">Robert Fox</p>
                <p class="p-sm">+654151651</p>
              </div>
            </div>

            <div class="">
              <button class="button invited">Invite</button>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center item">
            <div class="d-flex justify-content-start align-items-center gap-4">
              <div class="">
                <img src="./assets/img/friend-3.png" alt="" />
              </div>
              <div class="">
                <p class="fw-semibold">Robert Fox</p>
                <p class="p-sm">+654151651</p>
              </div>
            </div>

            <div class="">
              <button class="button">Invite</button>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center item">
            <div class="d-flex justify-content-start align-items-center gap-4">
              <div class="">
                <img src="./assets/img/friend-4.png" alt="" />
              </div>
              <div class="">
                <p class="fw-semibold">Robert Fox</p>
                <p class="p-sm">+654151651</p>
              </div>
            </div>

            <div class="">
              <button class="button invited">Invite</button>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center item">
            <div class="d-flex justify-content-start align-items-center gap-4">
              <div class="">
                <img src="./assets/img/friend-5.png" alt="" />
              </div>
              <div class="">
                <p class="fw-semibold">Robert Fox</p>
                <p class="p-sm">+654151651</p>
              </div>
            </div>

            <div class="">
              <button class="button">Invite</button>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center item">
            <div class="d-flex justify-content-start align-items-center gap-4">
              <div class="">
                <img src="./assets/img/friend-6.png" alt="" />
              </div>
              <div class="">
                <p class="fw-semibold">Robert Fox</p>
                <p class="p-sm">+654151651</p>
              </div>
            </div>

            <div class="">
              <button class="button">Invite</button>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center item">
            <div class="d-flex justify-content-start align-items-center gap-4">
              <div class="">
                <img src="./assets/img/friend-1.png" alt="" />
              </div>
              <div class="">
                <p class="fw-semibold">Robert Fox</p>
                <p class="p-sm">+654151651</p>
              </div>
            </div>

            <div class="">
              <button class="button">Invite</button>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center item">
            <div class="d-flex justify-content-start align-items-center gap-4">
              <div class="">
                <img src="./assets/img/friend-2.png" alt="" />
              </div>
              <div class="">
                <p class="fw-semibold">Robert Fox</p>
                <p class="p-sm">+654151651</p>
              </div>
            </div>

            <div class="">
              <button class="button invited">Invite</button>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center item">
            <div class="d-flex justify-content-start align-items-center gap-4">
              <div class="">
                <img src="./assets/img/friend-3.png" alt="" />
              </div>
              <div class="">
                <p class="fw-semibold">Robert Fox</p>
                <p class="p-sm">+654151651</p>
              </div>
            </div>

            <div class="">
              <button class="button">Invite</button>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Js Dependencies -->
    <script src="./assets/js/plugins/bootstrap.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/service-worker-settings.js"></script>
  </body>
</html>
