<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./assets/img/fav-logo.png"
      type="image/x-icon"
    />
    <title>Language Settings - Appoinx HTML App</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="manifest" href="manifest.json" />

    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <main class="">
      <section class="px-6 pt-8 notification-top-area">
        <div class="d-flex justify-content-start align-items-center gap-4 py-3">
          <a
            href="./doctor-profile.html"
            class="p1-color back-button flex-center"
          >
            <i class="ph ph-caret-left"></i>
          </a>
          <h2>Language</h2>
        </div>
      </section>

      <section class="manage-notification-area px-6 pt-8">
        <div class="manage-notification">
          <p class="p1-color fw-semibold">Suggested</p>

          <ul class="pt-6 d-flex flex-column gap-4">
            <li>
              <label class="d-flex justify-content-between align-items-center">
                <span class="fw-500">English (UK)</span>
                <span class="custom-radio alt-size">
                  <input type="radio" name="gender" value="male" hidden />
                  <span class="form-radio-sign"></span>
                </span>
              </label>
            </li>
            <li>
              <div class="custom-border-area position-relative w-100">
                <div class="line-horizontal"></div>
              </div>
            </li>
            <li>
              <label class="d-flex justify-content-between align-items-center">
                <span class="fw-500">English (US)</span>
                <span class="custom-radio alt-size">
                  <input type="radio" name="gender" value="male" hidden />
                  <span class="form-radio-sign"></span>
                </span>
              </label>
            </li>
          </ul>
        </div>
      </section>

      <section class="language-settings-area px-6 pt-8">
        <div class="language-settings">
          <p class="p1-color fw-semibold">Language</p>

          <ul class="pt-6 d-flex flex-column gap-4">
            <li>
              <label class="d-flex justify-content-between align-items-center">
                <span class="fw-500">Chineses (CN)</span>
                <span class="custom-radio alt-size">
                  <input type="radio" name="gender2" value="male" hidden />
                  <span class="form-radio-sign"></span>
                </span>
              </label>
            </li>
            <li>
              <div class="custom-border-area position-relative w-100">
                <div class="line-horizontal"></div>
              </div>
            </li>
            <li>
              <label class="d-flex justify-content-between align-items-center">
                <span class="fw-500">Croatian</span>
                <span class="custom-radio alt-size">
                  <input type="radio" name="gender2" value="male" hidden />
                  <span class="form-radio-sign"></span>
                </span>
              </label>
            </li>
            <li>
              <div class="custom-border-area position-relative w-100">
                <div class="line-horizontal"></div>
              </div>
            </li>
            <li>
              <label class="d-flex justify-content-between align-items-center">
                <span class="fw-500">Czech</span>
                <span class="custom-radio alt-size">
                  <input type="radio" name="gender2" value="male" hidden />
                  <span class="form-radio-sign"></span>
                </span>
              </label>
            </li>
            <li>
              <div class="custom-border-area position-relative w-100">
                <div class="line-horizontal"></div>
              </div>
            </li>
            <li>
              <label class="d-flex justify-content-between align-items-center">
                <span class="fw-500">Danish</span>
                <span class="custom-radio alt-size">
                  <input type="radio" name="gender2" value="male" hidden />
                  <span class="form-radio-sign"></span>
                </span>
              </label>
            </li>
            <li>
              <div class="custom-border-area position-relative w-100">
                <div class="line-horizontal"></div>
              </div>
            </li>

            <li>
              <label class="d-flex justify-content-between align-items-center">
                <span class="fw-500">Hindi</span>
                <span class="custom-radio alt-size">
                  <input type="radio" name="gender2" value="male" hidden />
                  <span class="form-radio-sign"></span>
                </span>
              </label>
            </li>
            <li>
              <div class="custom-border-area position-relative w-100">
                <div class="line-horizontal"></div>
              </div>
            </li>
            <li>
              <label class="d-flex justify-content-between align-items-center">
                <span class="fw-500">Spanish</span>
                <span class="custom-radio alt-size">
                  <input type="radio" name="gender2" value="male" hidden />
                  <span class="form-radio-sign"></span>
                </span>
              </label>
            </li>
            <li>
              <div class="custom-border-area position-relative w-100">
                <div class="line-horizontal"></div>
              </div>
            </li>
            <li>
              <label class="d-flex justify-content-between align-items-center">
                <span class="fw-500">Bengali</span>
                <span class="custom-radio alt-size">
                  <input type="radio" name="gender2" value="male" hidden />
                  <span class="form-radio-sign"></span>
                </span>
              </label>
            </li>
            <li>
              <div class="custom-border-area position-relative w-100">
                <div class="line-horizontal"></div>
              </div>
            </li>
            <li>
              <label class="d-flex justify-content-between align-items-center">
                <span class="fw-500">Russian</span>
                <span class="custom-radio alt-size">
                  <input type="radio" name="gender2" value="male" hidden />
                  <span class="form-radio-sign"></span>
                </span>
              </label>
            </li>
          </ul>
        </div>
      </section>

      <div class="pt-20 pb-8 text-center px-6">
        <a href="./sign-in.html" class="link-button d-block w-100">Save</a>
      </div>
    </main>

    <!-- Js Dependencies -->
    <script src="./assets/js/plugins/bootstrap.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/service-worker-settings.js"></script>
  </body>
</html>
