<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./assets/img/fav-logo.png"
      type="image/x-icon"
    />
    <title>Legal Policies - Appoinx HTML App</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="manifest" href="manifest.json" />

    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <main class="vh-100 overflow-hidden">
      <section class="px-6 pt-8 notification-top-area">
        <div class="d-flex justify-content-start align-items-center gap-4 py-3">
          <a
            href="./help-support.html"
            class="p1-color back-button flex-center"
          >
            <i class="ph ph-caret-left"></i>
          </a>
          <h2>Legal and Policies</h2>
        </div>
      </section>

      <section class="leagal-policies mx-6 overflow-auto mt-8">
        <div class="pe-6 d-flex flex-column gap-8">
          <div class="">
            <p class="fw-bold">Terms</p>
            <p class="paragraph-small pt-2">
              Our Legal and Policies outline the terms and conditions governing
              the use of our services. By accessing or using our platform, you
              agree to abide by these terms, which include but are not limited
              to, user responsibilities, intellectual property rights, privacy
              practices, and dispute resolution procedures. We reserve the right
              to update or modify these terms at any time, and your continued
              use of the platform constitutes acceptance of any changes. Please
              review our Legal and Policies regularly for updates.
            </p>
          </div>
          <div class="">
            <p class="fw-bold">Changes to the Service and/or Terms:</p>
            <p class="paragraph-small pt-2">
              Our Legal and Policies outline the terms and conditions governing
              the use of our services. By accessing or using our platform, you
              agree to abide by these terms, which include but are not limited
              to, user responsibilities, intellectual property rights, privacy
              practices, and dispute resolution procedures. We reserve the right
              to update or modify these terms at any time, and your continued
              use of the platform constitutes acceptance of any changes. Please
              review our Legal and Policies regularly for updates.
            </p>
          </div>
          <div class="">
            <p class="fw-bold">Cookies</p>
            <p class="paragraph-small pt-2">
              Our Legal and Policies outline the terms and conditions governing
              the use of our services. By accessing or using our platform, you
              agree to abide by these terms, which include but are not limited
              to, user responsibilities, intellectual property rights, privacy
              practices, and dispute resolution procedures. We reserve the right
              to update or modify these terms at any time, and your continued
              use of the platform constitutes acceptance of any changes. Please
              review our Legal and Policies regularly for updates.
            </p>
          </div>

          <div class="">
            <p class="fw-bold">Securities</p>
            <p class="paragraph-small pt-2">
              Our Legal and Policies outline the terms and conditions governing
              the use of our services. By accessing or using our platform, you
              agree to abide by these terms, which include but are not limited
              to, user responsibilities, intellectual property rights, privacy
              practices, and dispute resolution procedures. We reserve the right
              to update or modify these terms at any time, and your continued
              use of the platform constitutes acceptance of any changes. Please
              review our Legal and Policies regularly for updates.
            </p>
          </div>
          <div class="">
            <p class="fw-bold">Personal Informations</p>
            <p class="paragraph-small pt-2">
              Our Legal and Policies outline the terms and conditions governing
              the use of our services. By accessing or using our platform, you
              agree to abide by these terms, which include but are not limited
              to, user responsibilities, intellectual property rights, privacy
              practices, and dispute resolution procedures. We reserve the right
              to update or modify these terms at any time, and your continued
              use of the platform constitutes acceptance of any changes. Please
              review our Legal and Policies regularly for updates.
            </p>
          </div>
        </div>
      </section>
    </main>

    <!-- Js Dependencies -->

    <script src="./assets/js/plugins/bootstrap.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/service-worker-settings.js"></script>
  </body>
</html>
