<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./assets/img/fav-logo.png"
      type="image/x-icon"
    />
    <title>Video Call - Appoinx HTML App</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="manifest" href="manifest.json" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>
  <body>
    <main class="px-6">
      <section class="info-section-area">
        <div
          class="d-flex justify-content-center align-items-center flex-column text-center"
        >
          <p class="text-danger">Video Call Ended</p>
          <h2 class="heading-2 p1-color pt-3">20:00 min</h2>
          <p class="fw-semibold pt-4">The consultation session has ended.</p>
          <p class="paragraph-small pt-3">
            Recording have been saved in history
          </p>
          <div class="custom-border-area position-relative my-8 w-100">
            <div class="line-horizontal"></div>
          </div>

          <div class="">
            <img src="./assets/img/session-end-img.png" alt="" />
          </div>
          <h3 class="pt-5 heading-3">Dr. Dianne Johnson</h3>
          <p class="paragraph-small pt-2 text-black">Cardiologist</p>
          <p class="p-sm">Cefixime New Hospital</p>
        </div>
      </section>

      <section class="pt-20 mt-20">
        <div class="sort-options w-100">
          <div class="d-flex justify-content-between align-items-center gap-4">
            <a href="./home.html" class="gender-button">
              <span>Back to Home</span>
            </a>
            <a href="./session-review.html" class="gender-button active">
              <span>Leave Review</span>
            </a>
          </div>
        </div>
      </section>
    </main>

    <!-- Js Dependencies -->
    <script src="./assets/js/plugins/bootstrap.js"></script>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/service-worker-settings.js"></script>
  </body>
</html>
