/* swiper smooth slide */
.smooth .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.custom .swiper-pagination {
  margin-top: 28px !important;
  position: relative !important;
}
.custom .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background-color: var(--secodayBg2);
}
.custom .swiper-pagination-bullet-active {
  background-color: var(--p1);
  width: 20px;
  height: 4px;
  border-radius: 2px;
}

// wave animation
@keyframes waves {
  0% {
    -webkit-transform: scale(0.4, 0.4);
    transform: scale(0.4, 0.4);
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
.waves {
  position: absolute;
  width: 204px;
  height: 204px;
  background: rgba(43, 165, 150, 1);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border-radius: 100%;
  z-index: -1;
  -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
}
.wave-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.wave-2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.4s;
}
.wave-3 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.8s;
}

// custom checkbox
.checkbox.style-c {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.style-c input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.style-c input:checked ~ .checkbox__checkmark {
  background-color: var(--p1);
}
.checkbox.style-c input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}
.checkbox.style-c:hover input ~ .checkbox__checkmark {
  background-color: #eee;
}
.checkbox.style-c:hover input:checked ~ .checkbox__checkmark {
  background-color: var(--p1);
}
.checkbox.style-c .checkbox__checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  transition: background-color 0.25s ease;
  border-radius: 4px;
}
.checkbox.style-c .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #eee;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
.checkbox.style-c .checkbox__body {
  color: #333;
  font-size: 16px;
}

// OPT Form CSS
.otp-form {
  input {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--n1);
    border-radius: 8px;
    outline: none;

    &:focus {
      border: 1px solid var(--p1);
      box-shadow: 0px 1px 2px 0px rgba(58, 58, 58, 0.05);
    }
  }
}

// line horizontal
.custom-border-area {
  height: 1.5px;
  width: 80%;
}

.line-horizontal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.line-horizontal {
  background-image: linear-gradient(
    90deg,
    transparent 50%,
    rgba(34, 46, 72, 0.2) 0
  );
  background-size: 10px 100%;
}

// switch button
.switch {
  display: inline-block;
}
.switch input {
  display: none;
}
.switch label {
  display: block;
  width: 56px;
  height: 32px;
  padding: 2px;
  border-radius: 32px;
  background-color: var(--borderColor);
  cursor: pointer;
  transition: 0.3s;
}
.switch label::after {
  content: "";
  display: inherit;
  width: 54%;
  height: 100%;
  border-radius: 28px;
  background: var(--white);
  transition: 0.3s;
}
.switch input:checked ~ label {
  background-color: var(--p1);
}
.switch input:checked ~ label::after {
  translate: 85%;
  background: var(--white);
}

// calendar
.container-calendar {
  background: #ffffff;
  padding: 15px;
  max-width: 400px;
  margin: 0 auto;
  overflow: auto;
}

.button-container-calendar {
  button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;

    color: var(--p1);
    border: 1px solid var(--borderColor);
    border-radius: 4px;
    padding: 10px;
  }
}

.table-calendar {
  border-collapse: collapse;
  width: 100%;
  margin-top: 12px;
}

.table-calendar td,
.table-calendar th {
  padding: 8px 2px;
  font-size: 19px;
  font-weight: 300;
  color: var(--n2);

  text-align: center;
  vertical-align: top;
}

.date-picker.selected {
  font-weight: bold;
  background-color: var(--p1);
  color: white;
  border-radius: 4px;
}

// .date-picker.selected span {
//   border-bottom: 2px solid currentColor;
// }

/* sunday */
.date-picker:nth-child(1) {
  color: red;
}

/* friday */
.date-picker:nth-child(6) {
  color: green;
}

#monthAndYear {
  text-align: center;
  margin-top: 0;
}

.button-container-calendar {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
  clear: both;
}

#previous {
  float: left;
}

#next {
  float: right;
}

.footer-container-calendar {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--borderColor);
}

.footer-container-calendar select {
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  background: #ffffff;
  color: #585858;
  border: 1px solid #bfc5c5;
  border-radius: 3px;
  padding: 4px 12px;
}
