    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #f4f6f8;
      overflow: auto;;
    }

    .sidebar {
      width: 240px;
      background-color: #065f46;
      color: #fff;
      height: 100vh;
      position: fixed;
      transition: width 0.3s ease;
      overflow: hidden;
      top: 0;
      left: 0;
      z-index: 1000;
    }

    .sidebar.collapsed {
      width: 70px;
    }

    .sidebar a {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 14px 20px;
      color: #fff;
      text-decoration: none;
      transition: background 0.2s ease;
    }

    .sidebar a:hover {
      background-color: #047857;
    }

    .sidebar .menu-label {
      transition: opacity 0.3s ease;
      white-space: nowrap;
    }

    .sidebar.collapsed .menu-label {
      opacity: 0;
    }

    header {
      background-color: #065f46;
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 20px;
      position: fixed;
      top: 0;
      left: 0;
      height: 60px;
      width: calc(100% - 240px);
      margin-left: 240px;
      transition: margin-left 0.3s ease, width 0.3s ease;
      z-index: 900;
    }

    .sidebar.collapsed + .main-content > header {
      margin-left: 70px;
      width: calc(100% - 70px);
    }

    .toggle-btn {
      background: none;
      border: none;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }

    .main-content {
      margin-left: 240px;
      transition: margin-left 0.3s ease;
    }

    .main-content.expanded {
      margin-left: 70px;
    }

    .main-body {
      margin-top: 60px;
      padding: 24px;
      /* height: calc(100vh - 60px); */
      overflow-y: auto;

    height: auto; /* Let height expand if needed */
    min-height: calc(100vh - 60px);

    }




    /* To Change Tittle Size By Screen Size  */
    h2 {
    font-size: 28px;
    margin-bottom: 1rem;
    top: 0;
    left: 0;
    height: 10px;
    color: #ffffff;
    }

    @media (max-width: 767px) {
    h2 {
        font-size: 20px;
    }
    }





    .dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    }

    .card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0,0,0,0.08);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    }

    .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.12);
    }

    .card i {
    font-size: 30px;
    color: #065f46;
    margin-bottom: 10px;
    }

    .card span {
    display: block;
    font-weight: 500;
    color: #333;
    }

    .sidebar a.active {
    background-color: #059669;
    font-weight: bold;
    }

